.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 50%;
    left: 25%;
    right: 25%;
    background-color: #720f0f;
    position: relative;
}