.container {
    display: flex;
    padding: 20px 0px;
}

.name {
    font-size: 25px;
}

.profileImg {
    padding-right: 25px;
    width: 80%;
}

.suspicious {
    color: red;
}

.normal {
    color: green;
}